extends layout

mixin text_field(name, value)
  //- input(type=text name='property['+arguments[0]+']')

  +print_field(name, value)
  if value != null
    input(type="text" name=name value=value)

mixin print_field()
  if arguments != null
    if arguments[0] && arguments[1]
      p #{arguments[0]} #{arguments[1]}
    else if arguments[1]
      p #{arguments[1]}

//- Create an option and potentially set its selected state (if the form has
//- state) for a selection input type.
//-
//- param label     The text label to use
//- param form_var  The variable used to determine selected state
mixin select_option(label, form_var)
  option(value= label, selected= form_var === label ? true : false)= label

block content
  script.
    function go_back() {
      window.history.back();
    }

  a(href="" onclick="go_back()") Go Back

  h2 Job

  form(action=locals.loc.pathname, method='POST', novalidate)

    //- +text_field("cid", job.ClientKey)
    +print_field("PID: ", job.PropertyKey)
    +print_field("PID: ", job.property_id)
    +print_field("jobnum", job.JobNum)
    +print_field("Contact: ", job.JobContact)
    //- +print_field("Email: ", job.JobEmail)
    //- +print_field("Requested by: ", job.JobRequestedBy)
    +print_field("Notes: ", job.Notes)
    +print_field("Notes: ", job.JobNotes)

    label(for='job_status') Job Status:
    br
    if job.JobStatus != null
      if job.JobStatus == 1
        b Fieldwork
      if job.JobStatus == 2
        b Drafting
      else if job.JobStatus == 3
        b Review
      else if job.JobStatus == 4
        b Completed
      br
    else
      b Not assigned
    br
    input(type="radio" name="status" value="1")
    label(for='job_status_1') Fieldwork

    input(type="radio" name="status" value="2")
    label(for='job_status_2') Drafting

    input(type="radio" name="status" value="3")
    label(for='job_status_3') Review
    input(type="radio" name="status" value="4")
    label(for='job_status_4') Completed
    br
    br

    +print_field("Need by date: ", job.JobDateNeeded)
    //- +print_field("Assigned to: ", job.JobAssignedTo)

    +print_field("Created: ", job.DateCreated)
    +print_field("Edited: ", job.DateEdited)

    button(type='submit', name='action', value='update_property') Update Property

  // TODO: Validate!
  a(href='/jobs/destroy/' + job.PropertyKey) destroy
  //- &#32;-&#32;
