extends layout

mixin print_field()
  if arguments != null
    if arguments[0] && arguments[1]
      p #{arguments[0]} #{arguments[1]}
    else if arguments[1]
      p #{arguments[1]}

block content
  script.
    function go_back() {
      window.history.back();
    }

  h2 Jobs
  a(href="" onclick="go_back()") Go Back
  p Results: #{results.length}

  if results.length > 0
    each job in results

      +print_field("Client: ", job.JobContact)
      +print_field("Job Number: ", job.JobNum)
      +print_field("Address: ", job.JobAddress)
      +print_field("Notes: ", job.JobNotes)
      +print_field("Due date: ", job.JobDateNeeded)
      p Job Status:
        b #{job.JobStatus}

      if logged_in == true
        //- TODO: Validate!
        if job.PropertyKey != null
          a(href='/jobs/' + job.PropertyKey) [edit]
          | &#32;-&#32;

        //- TODO: Validate!
        if job.PropertyKey != null
          a(href='/jobs/destroy' + job.PropertyKey) [destroy]

      hr
