extends layout

mixin print_field()
  if arguments != null
    if arguments[0] && arguments[1]
      p #{arguments[0]} #{arguments[1]}
    else if arguments[1]
      p #{arguments[1]}

block content
  script.
    function go_back() {
      window.history.back();
    }

  a(href="" onclick="go_back()") Go Back

  h2 Job Search
  p Results: #{results.length}

    div(class='align-text-center')
      form(id='cse-search-box-form-id', action=locals.loc.pathname, method='GET')
        //- NOTE: Safari overrides our styling when the input field type is set to
        //- 'search'.
        input(id='cse-search-input-box', class='search_input', type='text', name='q', spellcheck=false, autocomplete='off', value= locals.query)
        //- br
        button(type='submit', class='search_button')

  if results.length > 0
    each job in results

      +print_field("Client: ", job.JobContact)
      +print_field("Job Number: ", job.JobNum)
      +print_field("Notes: ", job.JobNotes)
      hr

      //- TODO(jeff): Additional validations!
      if job.PropertyKey != null
        a(href='/jobs/' + job.PropertyKey) edit
        | &#32;-&#32;
        a(href='/jobs/destroy' + job.PropertyKey) destroy
        hr
