extends layout

block content
  script.
    function go_back() {
      window.history.back();
    }

  a(href="" onclick="go_back()") Go Back

  h2 Job Status

  a(href="/status/") All
  | &#32;-&#32;
  a(href="/status/fieldwork/") Fieldwork
  | &#32;-&#32;
  a(href="/status/drafting/") Drafting
  | &#32;-&#32;
  a(href="/status/review/") Review
  | &#32;-&#32;
  a(href="/status/completed/") Completed
  | &#32;-&#32;
  a(href="/status/unassigned/") Not assigned
  | &#32;-&#32;
  a(href="/status/assigned/") Assigned

  if results != null

    if results.length > 1
      - var num_jobs = 0;
      each result in results
        - num_jobs += result.jobs.length;
      //- p Total number of jobs: #{num_jobs}
      p #{num_jobs} jobs total

    each result in results
      - var status_desc = ''; //- i.e.: results.desc
      - var num_jobs_per_cat = result.jobs.length;
      - var num_jobs = 0;

      if result.desc == null
        - status_desc = result.type;
      else
        - status_desc = result.desc;

      h3 (#{num_jobs_per_cat}) #{status_desc}
      each job in result.jobs
        p
          a(href="/jobs/#{job.PropertyKey}")= job.JobNum
